@page
@model SpaceRythm.Pages.ForgotPasswordConfirmationModel
@{
    ViewData["Title"] = "Password reset confirmation";
}
<h1>Password reset confirmation</h1>
<p>
    Email sent. Please check your mailbox to reset the password.
</p>