/* MainPage.css */

body {
    font-family: 'Roboto', sans-serif;
}

.icon-size {
    width: 32px;
    height: 32px;
}

.indented-text {
    text-indent: -1em;
    padding-left: 1em;
}

.logo-container {
    display: flex;
    align-items: center;
    position: relative;
    height: 37px;
}

/* Трикутник */
.triangle {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #5F5F5F;
    transform: rotate(90deg);
    z-index: 0;
}

/* Неповний еліпс, поверх трикутника */
.ellipse {
    position: absolute;
    left: 5px;
    width: 31.58px;
    height: 37px;
    border: 3px solid #31C5F0;
    border-radius: 50%;
    box-sizing: border-box;
    clip-path: inset(0 6px 0 0);
    z-index: 1;
}

.logo-text {
    color: #ffffff;
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
    margin-left: -2px;
}

.active-menu-item {
    background-color: rgba(0, 0, 0, 0.1); /* Напівпрозорий чорний фон */
    border-radius: 5px; /* Для кращого вигляду */
    padding: 5px;
}
.video-time {
    position: absolute;
    bottom: 8px;
    right: 8px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 2px 5px;
    border-radius: 4px;
    font-size: 0.8rem;
}
